<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('includes/bootstrapCSS.ejs') %>
  </head>
  <body>
    <div class="container">
      <!-- Header include-->
      <%- include('includes/header.ejs') %>
      <div class="row">
        <!-- Side nav include-->
        <%- include('includes/nav.ejs') %>
        <div class="col">
          <!-- Main Body-->
          <h3>New Tacos</h3>
          <div id="new-feed" >
            Any new tacos from other users go here
            <% tacos.forEach( taco => { %>
              <div class="media">
                <img src="<%= taco.image %>" width="100" height="100" alt="taco" />
                <div class="media-body">
                  <h5><a href="/tacos/<%= taco.id %>"><%= taco.title %></a></h5>
                  <%= taco.description %>
                </div>
              </div>
            <% }) %>
          </div>
          <h3>My Tacos</h3>
          <div id="myrecipes">
            User created tacos go here
          </div>
          <h3>Ingredients</h3>
          <div id="myrecipes">
              <% ingredients.forEach( ingredient => { %>
                <div class="media">
                  <img src="<%= ingredient.image %>" width="100" height="100" alt="ingredient image" />
                  <div class="media-body">
                    <h5><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.title %></a></h5>
                    <%= ingredient.description %>
                  </div>
                </div>
              <% }) %>
          </div>
        </div>
      </div>

    </div>
    <%- include('includes/bootstrapJS.ejs') %>
  </body>
</html>
