<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('includes/bootstrapCSS.ejs') %>
  </head>
  <body>
    <div class="container">
      <!-- Header include-->
      <%- include('includes/header.ejs') %>
      <div class="row">
        <!-- Side nav include-->
        <%- include('includes/nav.ejs') %>
        <div class="col">
          <!-- Main Body-->
          <div class="center">
            <a href="/create/ingredients/new"><h2>Create new Ingredient</h2></a>
            <a href="/create/tacos/new"><h2>Create new Taco</h2></a>
            </form>
          </div>
        </div>
      </div>

    </div>
    <%- include('includes/bootstrapJS.ejs') %>
  </body>
</html>
